doctype html
html
    head

        script(type="text/javascript" src="./json/data.json")

        script.


            var startTime = new Date().getTime() / 1000;

            var possible_symbols = ['+', '-', '/', '*']

            function returnComplexEqation(){
                var randomFirstNumber = Math.floor(Math.random() * 10) +1
                var equation = "" + randomFirstNumber
                var pairs = Math.ceil(Math.random() * 10)

                for(var variables=0; variables<pairs; variables=variables +1){
                    equation += " " + possible_symbols[Math.floor(Math.random() * 4)] + "" + randomFirstNumber
                }

                return equation
            }



            function displayQuestion(){

                var str = returnComplexEqation()

                document.getElementById("demo").innerHTML = str;
            }

            function updateProgressBar(score){
                var progressBar= document.getElementById("progress").value;
                var points=score+parseInt(progressBar);
                document.getElementById("progress").value = points;
            }


            function calcScore(){

                var currentTime = new Date().getTime() / 1000;
                var timeDifference = currentTime-startTime;
                var score = 100/timeDifference
                updateProgressBar(10);

            }

            function startGame() {
                document.getElementById("start").outerHTML = "";
                displayQuestion();
            }

            function checkAnswer(){

                var func = document.getElementById("demo").innerHTML;
                var answer = document.getElementById("answer").value;
                var right_answer = Math.round(eval(func));


                if (parseInt(answer)==right_answer){

                    calcScore()
                    document.getElementById("demo").innerHTML = "";
                    displayQuestion();

                }
                else{
                    alert (right_answer)
                }

            }



    body
        form
            progress(id='progress' value="0" max="100")

            br

            button(id="start" type='button' onclick="startGame()") start the quiz

            p(id="demo")
            input(id="answer" )
            br
            button(type='reset' value="Reset" onclick="checkAnswer()") submit the answer
// on key press








